</section><!--/#cta--><section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Sobre nós</h2>
                <p class="text-center wow fadeInDown">Sou Clinaura, Psicóloga, Pedagoga,
                Especialista em psicopedagogia, atuo na área a maisde vinte anos.
                <br>
                </p>
                 <p class="text-center wow fadeInDown">
                Durante toda minha trajetória, senti muita necessidade de compartilhar meus
                conhecimentos e experiências, afim de ajudar e apoiar profissionais recém formados ou
                que já atuam na área.
                <br>
                </p>
                 <p class="text-center wow fadeInDown">
                Nessa trajetória criei vários recursos de avaliação e intervenção, que sempre me foram
                muito úteis, atendi muitos casos que podemos compartilhar e que me embasam
                
                profissionalmente, ministrei muitas aulas e palestras, realizei várias oficinas voltadas
                
                para leitura e escrita.</p>




            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3 class="column-title">Video Introdutorio </h3>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ws_qtExB3Ys" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Psicopedagogia </h3>
                    <p>
                        <h5>
                        Viver Psicopedagogia, trata-se de um site desenvolvido com criatividade, interação
                        e desafios. A plataforma de trabalho organizada em formato de laboratório constitui
                        um instrumento prático, funcional e facilitador do desenvolvimento das capacidades
                        e habilidades humanas em suas diversas fases de desenvolvimento, utilizando os
                        mais variados contextos da diversidade cultural, além de ser uma ferramenta
                        contemporânea e inovadora, capaz de provocar insights cognitivos que muito
                        contribuirá para o enfrentamento e a superação das complexidades humanas.
                        Fomentar o processo de intervenção nas diversas modalidades de ensino, em
                        diferentes fases da vida
                        </h5>
                        </p>

                   <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                
                                <li><i class="fa fa-check-square"></i> conhecimento para serem aplicados em avaliações psciopedagógicas.</li>
                                <li><i class="fa fa-check-square"></i> Conhecimentos para intervenções <br>nos diversos campos da
psicopegagia.</li>
                                <li><i class="fa fa-check-square"></i> Recursos psicopedagógicos na nossa loja virtual.</li>


                            </ul>
                        </div>

                       <!-- <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> usando palavras no lugar dessas frases</li>
                                <li><i class="fa fa-check-square"></i> como nos exemplos abaixo</li>
                                <li><i class="fa fa-check-square"></i> criatividade</li>
                                <li><i class="fa fa-check-square"></i> desenvolvimento de habilidade</li>


                            </ul>
                        </div>-->
                    </div>



                </div>
            </div>
        </div>
        
                            <!-- Button trigger modal -->

    </section><!--/#about-->
    