</section><!--/#cta--><section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Sobre nós(2.1)</h2>
                <p class="text-center wow fadeInDown">podemos mais uma vez aqui colocar um pequeno texto ou frase(2.2) <br> este conteudo ira fazer uma breve introdução conceitual sobre a sessão(2.3)</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3 class="column-title">Video Introdutorio (2.4)</h3>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ws_qtExB3Ys" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Psico-pedagogia (2.5)</h3>
                    <p>Mais uma vez temos um texto aqui , este texto é o principal texto de descrição e apresentação da plataforma nele vc pode dar uma noção do que é psicopedagogia e do que podemos esperar de sua plataforma(2.6)</p>

                    <p>Eu sugiro , baseado no que eu vejo o mercado fazendo, que a senhora grave um video de apresentação da plataforma, que seja um video com a sua explicação mesmo ou que seja um video com animação e narração as(2.7)sim como o da guttem news , caso a senhora queira fazer o video posso recomendar alguns profissionais</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> aqui podemos fazer(2.8)</li>
                                <li><i class="fa fa-check-square"></i> um check-list do que a proposta contempla</li>
                                <li><i class="fa fa-check-square"></i> interação com a natureza</li>
                                <li><i class="fa fa-check-square"></i> Bem estar e lazer</li>


                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> usando palavras no lugar dessas frases</li>
                                <li><i class="fa fa-check-square"></i> como nos exemplos abaixo</li>
                                <li><i class="fa fa-check-square"></i> criatividade</li>
                                <li><i class="fa fa-check-square"></i> desenvolvimento de habilidade</li>


                            </ul>
                        </div>
                    </div>

                    <a class="btn btn-primary" href="#">Leia mais(2.9)</a>

                </div>
            </div>
        </div>
    </section><!--/#about-->
    