<section id="pricing">
       
         <div class="container">

            <div class="row">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Aplicativo mobile <br>para público comum</h2>
                <p class="text-center wow fadeInDown">Conteudo sobre o aplicativo para celular e tablet<br> ainda temos que desenvolver esse conteudo, enquanto não desenvolvemos,vamos deixar o espaço reservado, porém oculto no site</p>
            </div>
            <div class="col-sm-6 wow fadeInLeft">
                    
                    <%= image_tag "images_home/embreve.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                
            </div>
                
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-gamepad"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Atividades Gameficadas</h4>
                            <p>Frases sobre os cursos oferecidos</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-film"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Animações interativas</h4>
                            <p>Frase ou pequeno texto sobre os tutorias exclusivos oferecidos pelo EAD</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-qrcode"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Recursos de realidade aumentada</h4>
                            <p>Recursos de realidade aumentada</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-share-alt"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Interação e compartilhamento de experiencias</h4>
                            <p>	Textos e frases sobre os certificados</p>
                        </div>
                    </div>
                </div>
            </div>
    </section><!--/#pricing-->
