<section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Aplicativo mobile <br>para público comum</h2>
                <p class="text-center wow fadeInDown">Conteudo sobre o aplicativo para celular e tablet<br> ainda temos que desenvolver esse conteudo, enquanto não desenvolvemos,vamos deixar o espaço reservado, porém oculto no site</p>
            </div>

                  
        </div>
    </section><!--/#pricing-->
