 <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Viver Psicopedagogia um despertar psicopedagógico.</h2>
                    <p> Ninguém caminha sem aprender a caminhar, sem aprender a fazer o

caminho caminhando, refazendo e retocando o sonho pelo qual se pôs

a caminhar..” 
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#">Link (1.6)</a>
                </div>
            </div>
        </div>