 <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Aqui costuma-se colocar um texto complementar a frase titulo colocado na sessão acima(1.5)</h2>
                    <p>podemos colocar aqui mais um texto de quantas palavras couber aqui, fique a vontade para determinar o texto, algo em torno de ums 150 caractereses(1.6) 
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#">Link (1.6)</a>
                </div>
            </div>
        </div>