 <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Viver Psicopedagogia um despertar psicopedagógico.</h2>
                    <p> “O ser humano é ativo na construção de seu conhecimento e não uma

massa &#39;disforme&#39; a ser moldada.” 
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#">Link (1.6)</a>
                </div>
            </div>
        </div>