<section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"><span>Palavra colorida(5.4)</span> Frase pequena(5.5)</h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Aqui vamos colocar um sub texto para falarmos mais claramente sobre o E.A.D <br />logo a baixo segue um link para um texto mais aprofundado caso seja de interesse do leitor(5.10))</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Leia mais(5.7)</a></p>
                 <%= image_tag "images_home/cta2/cta2-img.png", class: "img-responsive wow fadeIn", alt: "" %>
                
            </div>
        </div>
    </section>