<section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">E.A.D sistema de ensino a distancia</h2>
                <p class="text-center wow fadeInDown">Aqui começa a apresentação do nosso EAD com cursos e palestras para profissionais que queiram aprender sobre o tema,abaixo segue uma lista que descreve o que oferecemos no EAD </p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    
                    <%= image_tag "images_home/embreve.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Video aulas</h4>
                            <p>Frases sobre os cursos oferecidos</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tutorias</h4>
                            <p>Frase ou pequeno texto sobre os tutorias exclusivos oferecidos pelo EAD</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Artigos exclusivos</h4>
                            <p>Frases ou pequeno texto sobre os artigos exclusivos oferecidos para os usuarios do EAD</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Certificados</h4>
                            <p>	Textos e frases sobre os certificados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>