<section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">texto de encerramento do site(8.3)</h2>
                <p class="text-center wow fadeInDown">aqui costuma-se criar um texto ou frase ou imagem ou qualquer outro tipo de midia <br> a ideia é indicar o fim do site (8.4)</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->