<section id="main-slider">
        
            <div class="owl-carousel">
            
             <div class="item" style="background-image: url(images/slider/alta/alta_nova_4.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Viver psicopedagogia um  <span>despertar</span> psicopegagógico </h2>
                                    <p>“Aprendizagem é mais do que a aquisição da capacidade de pensar, é a aquisição de

muitas habilidades especializadas para pensar sobre uma variedade de coisas.” </p>
                                    <p>Imagem 3 de ipê roxo</p>
                                   <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
             <div class="item" style="background-image: url(images/slider/alta/alta_roxa_7.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Viver psicopedagogia um  <span>despertar</span> psicopegagógico </h2>
                                    <p>“Aprendizagem é mais do que a aquisição da capacidade de pensar, é a aquisição de

muitas habilidades especializadas para pensar sobre uma variedade de coisas.” </p>
                                    <p>Imagem 3 de ipê roxo</p>
                                   <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/slider/alta/alta_roxa_23.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Viver psicopedagogia um  <span>despertar</span> psicopegagógico </h2>
                                    <p>“Aprendizagem é mais do que a aquisição da capacidade de pensar, é a aquisição de

muitas habilidades especializadas para pensar sobre uma variedade de coisas.” </p>
                                    <p>Imagem 3 de ipê roxo</p>
                                   <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
            
            
            
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->