
    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nosos serviços</h2>
                <p class="text-center wow fadeInDown">Oferecemos novidades para desenvolvimento da capacitação em psicopedagogia.
                <br>
                </p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Tutoria</h4>
                                <p>aqui vem um texto explicando o serviço</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                              <i class="fa fa-file-text" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Estudo de caso</h4>
                                <p>aqui vem um texto explicando o serviço</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Supervisão</h4>
                                <p>aqui vem um texto explicando o serviço</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                               <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Cursos</h4>
                                <p>aqui vem um texto explicando o serviço</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Consultoria</h4>
                                <p>aqui vem um texto explicando o serviço</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">-Recursos exclusivos psciopedagógicos
                                <br> para avaliação e intervenção</h4>
                                <p>aqui vem um texto explicando o serviço</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    

                   
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->