 <section id="work-process">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Processo de ensino</h2>
                <p class="text-center wow fadeInDown">Aqui vamos explicamos o processo de ensino Via E.A.D , com uma sequencia de imagens que ilutram o processo de ensino , video aula, seguido de tutorias, seguido de artigos e palestras<br> </p>
            </div>

            <div class="row text-center">
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="icon-circle">
                            <span>1</span>
                            <i class="fa fa-play-circle fa-2x"></i>
                        </div>
                        <h3>Video-aulas</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="icon-circle">
                            <span>2</span>
                            <i class="fa fa-book fa-2x"></i>
                        </div>
                        <h3>Tutoriais</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="icon-circle">
                            <span>3</span>
                            <i class="fa fa-bullhorn fa-2x"></i>
                        </div>
                        <h3>Palestras</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="icon-circle">
                            <span>4</span>
                            <i class="fa fa-file-text fa-2x"></i>
                        </div>
                        <h3>artigos</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
                        <div class="icon-circle">
                            <span>5</span>
                            <i class="fa fa-laptop fa-2x"></i>
                        </div>
                        <h3>Laboratorio</h3>
                    </div>
                </div>
                
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <div class="icon-circle">
                            <span>6</span>
                            <i class="fa fa-graduation-cap fa-2x"></i>
                        </div>
                        <h3>Certificado</h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#work-process-->